.footer {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: rgb(241 236 236);
}

.footer-item {
    width: calc(20% - 30px);
}

.footer-item a {
    display: block;
    color: #555;
    font-family: "Light-roboto";
    margin-bottom: 15px;
    transition: .4s;
    
}

.footer-item img {
    width: 100px;
    height: 45px;
}